<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean class="com.tka.bean.Student" id="STUDENT">
<property name="studId" value="202"></property>
<property name="studName" value="Ajay"></property>
<property name="Address" ref="ADDRESS"></property> 


</bean>

	<bean class="com.tka.bean.Address" id="ADDRESS">
<property name="houseNo" value="28"></property>
<property name="Village" value="chupale"></property>
<property name="district" value="Nandurbar"></property>

</bean>


</beans>
