<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="com.tka.beans.Address" id="addrID">
    	<property name="city" value="Nandurbar"></property>
    	<property name="houseNo" value="28"></property>
    	<property name="HouseName" value="Avisha Nivas"></property>
    	
    
    </bean>
    
<bean class="com.tka.beans.Student" id="studId">
<property name="rollNo" value="101"></property>
<property name="studName" value="Avisha"></property>
<property name="address" ref="addrID"></property> <!-- Dependency Injection-->
</bean>

</beans>